{% extends 'nav_public.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('build/css/security_forms.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Demander changer M.D.P.{% endblock %}

{% block content %}
	<div class="container">
		<div class="form_security_container">
			{{ form_start(form)	}}
				<div class="form_security_message">
	                {% for flashMessage in app.session.flashbag.get('success') %}
	                    <div class="alert alert-success">{{ flashMessage }}</div>
	                {% endfor %}
	                {% for flashMessage in app.session.flashbag.get('error') %}
	                    <div class="alert alert-danger">{{ flashMessage }}</div>
	                {% endfor %}
					{% if form_errors(form.email) %}
						<div class="alert alert-danger">{{ form_errors(form.email) }}</div>
					{% endif %}
	            </div>
	            <div class="form_security">
					<div class="form-group">
				        {{ form_label(form.email, null, { 'label_attr':  {
				            'class': 'control-label'
				        }}) }}
						{{ form_widget(form.email, {'attr': {
							'class': 'form-control',
							'placeholder': "edouard@fond.fr"
						} }) }}
					</div>

					<button type="submit" class="btn btn-block btn-primary">Valider</button>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
