{% extends "nav_public.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('build/css/presentation.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Chapter Nord Aquitaine #139{% endblock %}

{% block content %}
	<div class="container">

		<article id="article_story_139">
			<h2 id="membre_texte_titre" class="text-center"> Notre jeune histoire </h2>
			<div id="membre_texte" class="row">
			    <p> C’est en 2002 que le premier Chapter <b><i>Wind and Fire MC </i></b>voit le jour en France sous le numéro #68. L’affluence de membres ainsi que leur localisation oblige le Chapter 68 à réfléchir à une nouvelle organisation.</p>
			    <p>En 2008 le pas est franchi, avec l’abandon du chapter 68 et la création du <b><i> Wind and Fire M.C Firefigthers</i></b>, sous forme d’association à but non lucratif, permettant de regrouper plus de 100 membres réparti en 11 Chapters.</p>
			    <p>C’est donc cette même année que le Chapter #139 «Nord Aquitaine » voit le jour sous la présidence de Sylvain et regroupe les frangins venant de Gironde. Fort de ce nouveau découpage, le Chapter #139 organisera en 2009 une des premières assemblées générales du <b><i>Wind & Fire Firefighters France</i></b> sur la commune de Biscarrosse. Assemblée qui remportera un franc succès et laissera dans les mémoires de très bons souvenirs. </p>
			    <p>Ne comportant que peu de membres, il restera sous la tutelle du <b><i>Wind & Fire Firefigthers France</i></b> jusqu’en 2016 en tant que Chapter dépendant. Avec l’arrivée de nouveaux membres, venant de Gironde, du nord des Landes ainsi que de Corrèze, le chapter #139 se lance un nouveau défit en devenant Chapter affilié.</p>
			    <p> Le 26 novembre 2016, les membres se réunissent en assemblée générale et valident la création de l’association à but non lucratif <b><i>« Wind & Fire 139 Nord Aquitaine »</i></b>. Affilié au <b><i>Wind & Fire Firefighters France</i></b>, ce nouveau pas nous permet d’avoir une autonomie financière, de gestion avec la création d’un bureau.</p>
			    <p>Il ne nous reste plus qu’à continuer à remplir ces lignes, avec de nouveaux défits, de nouvelles balades, de nouveaux frangins dans le respect et la bonne humeur.</p>
			</div>
		</article>

		<div id="membre_liste" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<div class="row membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Président</div>
						<div class="membre_nom">Sylvain</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/sylvain.jpeg') }}" class="img-fluid" alt="sylvain chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="d-md-flex flex-row-reverse membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Vice-Président</div>
						<div class="membre_nom">Arnaud</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/arnaud.jpeg') }}" class="img-fluid" alt="arnaud chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="row membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Sergent d'Armes</div>
						<div class="membre_nom">Richard</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/richard.jpeg') }}" class="img-fluid" alt="richard chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="d-md-flex flex-row-reverse membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Full Patch</div>
						<div class="membre_nom">Winch</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/winch.jpeg') }}" class="img-fluid" alt="winch chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="row membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Full Patch</div>
						<div class="membre_nom">Fred</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/fred.jpeg') }}" class="img-fluid" alt="fred chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="d-md-flex flex-row-reverse membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Full Patch</div>
						<div class="membre_nom">Titou</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/titou.jpeg') }}" class="img-fluid" alt="titou chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="row membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Hangaround</div>
						<div class="membre_nom">Yann dit « Jean le chauve »</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/yann.jpeg') }}" class="img-fluid" alt="yann chapter 139 Wind And Fire" />
				</div>
			</div>
			<div class="d-md-flex flex-row-reverse membre_div">
				<div class="col-md-4 d-flex align-items-center">
					<div class="plaque_presentation my-2 text-center">
						<div class="membre_titre">Hangaround</div>
						<div class="membre_nom">Nico</div>
					</div>
				</div>
				<div class="col-md-8">
					<img src="{{ asset('/images/membres/nico.jpeg') }}" class="img-fluid" alt="nico chapter 139 Wind And Fire" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}