<!DOCTYPE html>
<html lang="fr">
    <head>
    	<!-- Required meta tags -->
        <meta charset="UTF-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Bootstrap CSS -->
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
        <title>{% block title %}{% endblock %}</title>
		{% block stylesheets %}
			<link href="{{ asset('build/css/main.css') }}" rel="stylesheet" type="text/css" />
		{% endblock %}
		        
    </head>
    <body>
    	<div class="main_container">
    	<div class="container-fluid barre_navigation">
    		{% block navigation %}{% endblock %}
		</div>

		<header class="container-fluid">
			<div class="row">
	            <div class="d-none d-sm-block col-sm-2">
	            	<img src="{{ asset('/images/style/logo139.jpg') }}" class="" alt="logo wind and fire chapter 139" />
	            </div>
	            <div class="col-12 col-sm-8 titre_page text-center">{{ block('title') }}</div>
	            <div class="d-none d-sm-block col-sm-2">
	            	<img src="{{ asset('/images/style/logoWF.png') }}" class="" alt="logo wind and fire" />
	            </div>
            </div>
		</header>
		
		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<footer class="container-fluid row py-3">
        	<div class="d-none d-lg-block col-lg-4" id="image_footer"><img src="" /></div>
            <ul class="col-6 col-lg-4 list-unstyled">
                <li><a href="http://www.pompiers.fr/oeuvre-des-pupilles">ODP</a></li>
                <li><a href="http://www.windandfiremc.fr/">WFMC FRANCE</a></li>
                <li><a href="http://www.windandfiremc.eu/">WFMC EUROPE</a></li>
                <li><a href="http://www.angelfire.com/ca2/WindandFireMC/">WFMC MONDE</a></li>
                <li><a href="http://www.windandfiremc157.com/">WFMC #157</a></li>
            </ul>
            <ul class="col-6 col-lg-4 list-unstyled">
                <li><a href="">Mentions Légales</a></li>
				<li><address><a href="mailto:wfmc139@gmail.com">Chapter 139: wfmc139@gmail.com</a></address></li>
				<li><address><a href="mailto:letengu@outlook.fr">Webmaster: Benoit Roumégous</a></address></li>
                <li><address><a href="mailto:noelbenedicte@orange.fr">Webmaster: Bénédicte Noël</a></address></li>
            </ul>
		</footer>

		</div>
		<!-- Optional JavaScript -->
		
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="{{ asset('build/js/main.js') }}" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

		
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
    </body>
</html>
